html {
  background-color: #303139;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
}

#chat_history {
  background-color: black;
  width: 25%;
  height: 100vh;
  padding: 0;
  color: white
}

#chat_area {
  background-color: #303139;
  color: white;
  width: 75%;
  height: 100vh;
  padding: 0px 200px 0px 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#message {
  padding: 20px 0 20px 0;
}

.messages {
  margin-top: 50px;
  overflow-y: scroll;
  margin-bottom: 15%;
}

#input {
  width: 47%;
  height: 40px;
  outline: 1px solid rgb(93, 95, 106);
  border-radius: 10px;
  padding: 5px;
  margin: 35px 0 35px 0;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 36.5%;
}

#input>input {
  width: 80%;
  height: 80%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: large;
}

#input>input:focus {
  outline: none;
}

#input>button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 10px;
  background: white;
  font: inherit;
  font-size: x-large;
  text-decoration: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.message-container {
  display: flex;
  align-items: flex-start;
  margin: 20px;

}

.avatar {
  width: 27px;
  height: 27px;
  margin-right: 10px;
  /* Ensure the image doesn't bleed outside the border-radius */
}

.message-content {
  /* background-color: #fff; */
  /* Adjust the background color as needed */
  border-bottom: 1px solid gray;
  /* Add a subtle border */
  margin-left: 10px;
  /* Adjust as needed to not overlap the avatar */
  position: relative;
  /* For the copy button positioning */
  width: calc(100% - 50px);
  /* Adjust width to ensure it doesn't overlap with the avatar */
}

.code-header {
  background-color: black;
  margin-bottom: -6.5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button.copy-button {
  font-size: .6em;
  height: 20px;
  background: #007acc;
  /* Button background color */
  color: white;
  /* Button text color */
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}