html {
  background-color: #303139;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
}

#chat_history {
  background-color: black;
  width: 385px;
  height: 100vh;
  padding: 20px;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.threads-list {
  width: 345px;
  height: 82.5%;
  overflow-y: scroll;
  border-top: rgb(93, 95, 106) solid 1px;
  border-bottom: rgb(93, 95, 106) solid 1px;
}

.new-chat-button {
  width: 323px;
  height: 40px;
  border: #303339 solid 1px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: black;
  cursor: pointer;
}

.new-chat {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}

.new-chat-button:hover {
  background: #202225;
}

.profile-section {
  width: 323px;
  border: #303339 solid 1px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  background: black;
  cursor: pointer;
}

.profile-section:hover {
  background: #202225;
}

.profile-pic {
  border-radius: 50%;
}

.profile-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.profile-modal-content {
  background-color: #202225;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 350px;
  position: relative;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
}

.modal-profile-pic {
  border-radius: 50%;
  margin-bottom: 20px;
}

.modal-username {
  color: white;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.logout-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5865F2;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logout-button:hover {
  background-color: #4752C4;
}

.logout-button:active {
  background-color: #3B44A9;
}

.username {
  color: white;
  font-size: 0.9em;
  display: inline-block;
  margin-left: 10px;
}

#chat_area {
  background-color: #303139;
  color: white;
  width: 75%;
  height: 100vh;
  padding: 0px 200px 0px 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#message {
  padding: 20px 0 20px 0;
}

.messages {
  margin-top: 50px;
  overflow-y: scroll;
  margin-bottom: 15%;
}

#input {
  width: 55%;
  height: auto;
  background-color: #303139;
  outline: 1px solid rgb(93, 95, 106);
  border-radius: 10px;
  padding: 5px;
  margin: 35px 0 35px 0;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 35%;
}

#input>textarea {
  width: 80%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: large;
  resize: none;
  overflow-y: auto;
}

#input>textarea:focus {
  outline: none;
}

#input>button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 10px;
  background: white;
  font: inherit;
  font-size: x-large;
  text-decoration: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.message-container {
  display: flex;
  align-items: flex-start;
  margin: 45px;

}

.avatar {
  width: 27px;
  height: 27px;
  margin-right: 10px;
}

.message-content {
  margin-left: 10px;
  position: relative;
  width: calc(100% - 50px);
}

.code-header {
  background-color: black;
  margin-bottom: -6.5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.code-block {
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  margin-top: 0;
}

.language-label {
  margin-top: 5px;
  margin-right: auto;
  padding-left: 10px;
  font-size: .8em;
  font-weight: lighter;
}

button.copy-button {
  font-size: .6em;
  height: 20px;
  background: #007acc;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

/* Overlay styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login-modal {
  background-color: #202225;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 300px;
  z-index: 1001;
}

.login-modal input {
  background-color: #303339;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 16px;
}

/* Button styles */
.login-modal button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #5865F2;
  transition: background-color 0.2s ease;
}

.login-modal button:hover {
  background-color: #4752C4;
}

.login-modal button:active {
  background-color: #3B44A9;
}

.login-modal button:nth-child(2) {
  background-color: #747F8D;
}

.login-modal button:nth-child(2):hover {
  background-color: #5C6772;
}

.login-modal button:nth-child(2):active {
  background-color: #454E58;
}

.loading-indicator {
  color: #aaa;
  font-style: italic;
}

@keyframes bounce {

  0%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }
}

.typing-dots {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.typing-dots span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
  margin: 0 2px;
  animation: bounce 1.4s infinite ease-in-out both;
}

.typing-dots span:nth-child(1) {
  animation-delay: -0.32s;
}

.typing-dots span:nth-child(2) {
  animation-delay: -0.16s;
}

.typing-dots span:nth-child(3) {
  animation-delay: 0s;
}

.info-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 90%;
  margin-top: 10%;
}

.info-section {
  display: flex;
  flex-direction: row;
}

.info-column {
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  min-width: 200px;
  flex: 1;
}

h1 {
  margin-bottom: -10px;
}

h2 {
  font-size: 1em;
  margin-bottom: 10px;
}

.info-column h2 {
  border-bottom: 2px solid #454E58;
  padding-bottom: 10px;
}

.info-column ul {
  list-style: none;
  padding: 0;
}

.info-column li {
  height: 80px;
  background-color: #454E58;
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 0.9em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.open-prompt-button {
  width: auto;
  padding: 10px 20px;
  margin-top: 20px;
}

.thread-button {
  width: 345px;
  height: 62px;
  border: #303339 solid 1px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: #1e1e1e;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background-color 0.2s ease;
  font-size: 0.9em;
}

.thread-button:hover {
  background: #50555B;
}

.thread-button:active {
  background: #60666B;
}